body {
    text-align: center;
}

h1 {
    padding: 10px;
}

div {
    display: flex;
    justify-content: center;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

button:hover {
    background-color: #ccc;
}
